<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Chase Morin. It is written in node.js and uses api data from mapbox.com and darksky.net.</p>
    <img class="portrait" src="/img/hamburger.jpg">
    </div>
    
    
    {{>footer}}
</body>

</html>